.cart-product {
    display: flex;
    border-radius: 5%;
    background-color: #00c385;
    border: 2px solid black; 
    column-gap: 65px;
    width: 300px;
    margin-left: 20px;
    justify-content: center;
}

.totals {
    margin-top: 30px;
    margin-bottom: 20px;
    height: 80px;
}

.shopping-cart {
    margin-left: 10px;
}