.about {

    display: flex;
  justify-content: center;
  align-items: center;
}

.about-container {
    display: flex;
    flex-direction: row;
    width: 1200px;
    height: 300px;
    background-color: #fff;
    margin-left: 200px;

}

.about-text {
  
    margin-top: 40px;
    margin-left: 25px;
    margin-right: 25px;
}

.the-logo-right {
    width: 300px;
    height: 300px;
}

.about-title-text {
    margin-left: 200px;
    
}