.receipt {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: lightgreen;
    border: 4px solid gainsboro;
    margin-top: 20px;
    padding: 10px;
    margin: 10px;
    font-weight: 5px;
    color: black;
    
    
}

.title {
    align-self: center;
}